body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.header--main{
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.link--cta{
    font-size: 16px;
    color: aquamarine;
}


.video{
    text-align: center;
}

.h2--main {
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}

.h2--p{
    font-weight: normal;
    font-size: 21px;
    color: gray;
}


.img{
    text-align: center;
}

.h3--main{
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}



.footer--text{
    font-weight: normal;
    font-size: 16px;
    color: gray;
    text-align: right;
}


a:-webkit-any-link {
    color: aquamarine;
}